$primary: #af232b;
$tertiary: #f9e9cb;
$surface1: #242424;
$surface2: #292929;
$surface3: #393939;
$background: #1b1b1b;
$contentBody: #1b1b1b;
$backgroundTertiary: $tertiary;
$neutral: #7a7a7a;
$contentPrimary: $primary;
$contentOnSurface: #ffffff;
$contentOnPrimary: #ffffff;
$contentOnTertiary: $contentBody;
$surfacePrimary: $primary;
$surfaceTertiary: $tertiary;
$contentNeutral: $neutral;
$overlay: rgba(0, 0, 0, 0.15);
